@charset "UTF-8";
:root {
  --primary-color: #023047;
  --secondary-color: #38475c;
  --accent-color: #957025;
  --background-color: #f4f3ea;
  --text-color: #293040;
  --fontfamily: 'Times New Roman', Times, serif;
}

html {
  scroll-behavior: smooth; /* Hace que el scroll sea suave */
  scroll-padding-top: 100px; /* Ajustá este número según la altura de tu menú */
}

header {
  background-color: #ffffff;
  display: flex;
  padding: 0 0.5em;
  align-items: center;
  justify-content: space-between;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Times New Roman", Times, serif;
}

main {
  font-family: "Times New Roman", Times, serif;
  color: var(--text-color);
  margin-top: 6em;
  padding: 1.5em;
}

.hero {
  background-image: url("../img/fondo-hero.png") !important;
  background-size: cover;
  background-position: top left;
  background-attachment: fixed;
  padding-top: 1em;
  width: 100%;
  height: 500px;
  display: flex;
}
.hero .col-md-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .col-md-4 img {
  filter: invert(1);
  mix-blend-mode: difference;
}

.hero-content {
  margin-bottom: 2em;
  display: grid;
  padding-left: 4em;
  padding-right: 1.5em;
  padding-top: 3em;
  gap: 1.3em;
}
.hero-content button {
  background-color: var(--primary-color);
  border: none;
  padding: 0.5em 1em;
  width: 40em;
  height: 3.5em;
  color: #fff;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative; /* Obligatorio para que funcione el z-index */
  z-index: 999;
}
.hero-content button:hover {
  background-color: var(--accent-color);
}

section {
  margin-bottom: 2em;
  gap: 10em;
  padding-top: 2em;
}
section h2 {
  color: var(--primary-color);
  font-size: 3.5em !important;
  font-weight: bold;
  text-align: center;
}
section p {
  color: var(--text-color);
  font-size: 1.5em !important;
}
section label {
  color: var(--text-color);
  font-size: 1.5em !important;
}
section option {
  color: var(--text-color);
  font-size: 1em;
}
section .btn.boton-personalizado {
  background-color: var(--primary-color);
  border: none;
  border-radius: 8px;
  padding: 0.5em 1em;
  width: auto;
  height: auto;
  color: #fff;
  font-size: large;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
section .btn.boton-personalizado:hover {
  background-color: var(--accent-color);
}

nav {
  display: flex;
  position: sticky;
  gap: 0.5em;
  align-items: center;
  background-color: #ffffff;
}
nav button {
  background-color: transparent;
  border: none;
  padding: 0.5em;
}

.navbar .nav-link {
  font-family: "Times New Roman", Times, serif;
  color: var(--primary-color);
  transition: color 0.3s ease;
  font-size: 0.8em;
}

.navbar .nav-link:hover {
  color: var(--accent-color);
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1em;
}
.about h2 {
  color: var(--primary-color);
  font-size: 3.5em !important;
  font-weight: bold;
}
.about h4 {
  color: var(--secondary-color);
  font-size: 2.5em !important;
  font-weight: bold;
}
.about p {
  color: var(--text-color);
  font-size: 1.5em !important;
}

.card {
  background-color: #ffffff;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 1em;
}
.card h3 {
  color: var(--primary-color);
  font-size: 2em;
  font-weight: bold;
}
.card p {
  color: var(--text-color);
  font-size: 1.5em;
}
.card img {
  max-width: 3em;
  height: auto;
  border-radius: 4px;
}

/*# sourceMappingURL=style.css.map */
